*~
.\#*
\#*

*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.mtc*
*.mtc0
*.mtc1
*.run.xml
*.toc
*.maf
*-blx.bib

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps