*~
.\#*
\#*

*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.mtc*
*.mtc0
*.mtc1
*.run.xml
*.toc
*.maf
*-blx.bib

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*__pycache__

*.pyc
*.pyo
__pycache__
*.so
*.o

*.egg
*.egg-info
.*cache*/
*venv*/

Cython/Compiler/*.c
Cython/Plex/*.c
Cython/Runtime/refnanny.c
Cython/Tempita/*.c
Cython/*.c
Cython/*.html
Cython/*/*.html

Tools/*.elc
Demos/*.html
Demos/*/*.html

/TEST_TMP/
/build/
/wheelhouse*/
!tests/build/
/dist/
.gitrev
.coverage
*.patch
*.diff
*.orig
*.prof
*.rej
*.log
*.dep
*.swp
*~
callgrind.out.*

.ipynb_checkpoints
docs/build

tags
TAGS
MANIFEST

.tox

# Jetbrains IDE project files
/.idea
/*.iml
