div.sphinxsidebar {
    max-height: 100%;
    overflow-y: auto;
}

h2 a.toc-backref, h3 a.toc-backref {
    color: #000;
    text-decoration: none;
}

.contents.local.topic a {
    color: #330000
}

/* Scrollbar */
html {
  --scrollbarBG: #EFEFEF;
  --thumbBG: #CDCDCD;b
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

div.sphinxsidebar::-webkit-scrollbar {
  width: 11px;
}
div.sphinxsidebar {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
div.sphinxsidebar::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
div.sphinxsidebar::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
