name: pomdp-py build dev-latest wheel

on:
  push:
    tags:
      - 'vdev-latest'  # trigger on the tag vdev-latest

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:

    - name: Set release name with date
      id: set_release_name
      run: echo "RELEASE_NAME=pomdp-py (dev-latest $(date +'%Y-%m-%d'))" >> $GITHUB_ENV

    - uses: actions/checkout@v4
      with:
        ref: 'dev-latest'

    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    # - name: Run release script
    #   working-directory: .
    #   run: |
    #     cd scripts
    #     ./pomdp_py_release.sh

    - name: Fake artifact
      run: |
        mkdir dist
        echo "HELLO" >> dist/test.whl

    - name: Release artifact
      uses: softprops/action-gh-release@v1
      with:
        name: ${{ env.RELEASE_NAME }}
        files: dist/*.whl
