name: pomdp-py repo ubuntu build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Build dependencies
      run: |
        # build pomdp-solve
        sudo apt-get update
        sudo apt-get install -y autoconf automake libtool
        git clone https://github.com/cassandra/pomdp-solve.git thirdparty/pomdp-solve
        cd thirdparty/pomdp-solve
        ./configure
        make
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
    - name: Test
      working-directory: .
      run: |
        export POMDP_SOLVE_PATH=./thirdparty/pomdp-solve/src/pomdp-solve
        python tests/test_all.py
